<div class="row-lg-1" >

<div class="col-lg-6 col-md-4 " >
    <div class="inner-graph">
   <img src="/graphs/my_plot1.png" style="height: 550px padding-top:400px ;" alt="image1">
   </div>
</div>

<!-- Table with free rooms-->
<div style="padding-right:0px height: 60px;" class="col-lg-6 col-md-2">
     <img src="/graphs/my_plot2.png" style="height: 600px;" alt="image2">
</div>
</div>
<div class="row " >
   <!-- Table with docotors-->
<div style="padding-right:0px height: 60px;" class="col-lg-6 col-md-2">
    <img src="/graphs/my_plot3.png" style="height: 600px;" alt="image3">
</div>
<div style="padding-right:0px height: 60px;" class="col-lg-6 col-md-2">
     <img src="/graphs/my_plot4.png" style="height: 600px;" alt="image4">
</div>v
  </div>