


    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">

 <div class="appointment">
        <div id="heading">PATIENTS LIST</div>
        <div class="options ">
            <button class="button1 " onclick="callsortname()">
                 <h3>Sort by name</h1>  
                </button>
            <button class="button2 " onclick="callsortdate()">
                        <h3>Sort by date</h1>
            </button>
        </div>
        <table id="tabl">
        </table>
    </div>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/addpatient.js"></script>
